<div class="new-msg-form">
    {{input type="text" placeholder="Name" value=name class="name-input"}}
    {{input type="text" placeholder="Message" value=body class="msg-input"}}
    <button {{action 'addMessage'}} class="submit">Submit</button>
</div>